:local {

  .CourseTable{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
    align-items: center;
    .Loader {
      display: flex;
      flexDirection: 'column';
      align-items: center;
      size: 50px;
    }
  }
}