.NewProfessor {
  text-align: center;
}

.New-Professor-title{
  text-align: center;
  font-size: 20px !important;
}

.New-Professor-form{
  display: grid;
}

.professor-form-control{
  width: 50%;
  margin: 0 auto!important;
}

.create-professor-button{
  margin: 10px 5px 5px!important;
}

.MuiCardActions-root-85{
  display: inline-flex!important;
}

.New-Professor-box{
  width: 50%;
  margin: 0 auto;
}

.password-helper-text{
  font-size: 9px!important;
}