:local {
  .card {
    margin-top: 25%;
  }
  .form-group {
    alignment: center;
  }
  .form-control {
    width: 50%;
    margin: 0 auto !important;
  }
  .buttons-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}